.nextaudio {
    position: relative;
    background-color: transparent
}

#next-song {
    background-color: transparent;
    border: none;
  }

  #prev-song {
    background-color: transparent;
    border: none;
  }

  #audio-control {
    background-color: transparent;
    border: none;
  }

/* 当屏幕宽度小于等于767px（移动设备）时，强制使.col-12变成双列布局 */
@media (max-width: 767px) {
  .artists-section .row > .col-12 {
      flex: 0 0 50%; /* 设置为占50%宽度 */
      max-width: 50%;
  }
}

/* .logo-image {
  height: auto;
  max-height: 50px;
  width: 100%;
} */
